
.side-navigation-panel {
    width: 15rem;
    position: fixed;
    background-color: white;
    height: 100%;
    top: 0;
    left: 0;
  }

  .main {
      margin-left: 16rem;
  }

  .form-outline {
      display: inline-block;
  }

  .pagination, .fa-sort {
      float: right;
  }